# Autores

| Nome | nUSP |
| :--- | :--- |
| Guilherme de Abreu Barreto | 12543033 |
| Lucas Eduardo Gulka Pulcinelli | 12547336 |
| Vinicio Yusuke Hayashibara | 13642797 |

# Configuração

É necessário o ao correto funcionamento deste projeto possuir uma instalação local de PostgreSQL e atribuir os valores correspondentes para acesso a este nas seguintes constantes:

- `DATABASE`: O nome do database onde serão carregadas as informações. Atente-se se este não corresponde ao nome de um database preexistente **ou que esteja sendo acessado**, pois este será então sobrescrito.

- `USER` e `PASSWORD`: Informações de autententicação válidas e com privilégios para a criação de bancos de dados no servidor.

- `HOST` e `PORT`: A URL e porta para realização do acesso ao servidor.

- `BATCH_SIZE`: O número máximo de operações sobre o BD a serem realizadas conjuntamente. Recomenda-se ser em um número o qual caiba na memória RAM que você dispõe. O número abaixo foi capaz de caber confortávelmente em 10 GiB de RAM **na minha máquina**.

In [1]:
DATABASE = "postgres"
USER = "postgres"
PASSWORD = "postgres"
HOST = "postgres"
PORT = 5432

DATABASE_URI = f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}/{DATABASE}"

## Carregamento das dependências deste projeto

In [2]:
!pip install psycopg2-binary sqlalchemy[postgres] tqdm pandas ipython-sql matplotlib ipywidgets

import matplotlib.pyplot as plt
from ipywidgets import interact
import ipywidgets as widgets

import enum
import pandas as pd
import pandas.io.sql as psql
import re
from datetime import datetime, date
from sqlalchemy import (
    CheckConstraint as constraint,
    Enum,
    Date,
    ForeignKey as fk,
    String,
    MetaData,
    Table,
    TypeDecorator,
    create_engine,
    column as sql_column,
    insert,
    text,
    PrimaryKeyConstraint as pkc
)
from sqlalchemy.orm import (
    Mapped,
    Session,
    declarative_base,
    relationship,
    sessionmaker,
    mapped_column as column,
    validates,
)
from pathlib import Path
from tqdm import tqdm
from typing import Any, Annotated, final

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.13/site-packages (2.9.10)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.13/site-packages (4.67.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.13/site-packages (2.3.2)
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting matplotlib
  Downloading matplotlib-3.10.6-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Collecting ipywidgets
  Downloading ipywidgets-8.1.7-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: sqlalchemy[postgres] in /opt/conda/lib/python3.13/site-packages (2.0.43)
WARNING: sqlalchemy 2.0.43 does not provide the extra 'postgres'
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy[postgres]) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy[postgres]) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.13/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (9.5.0)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.59.2-cp313-cp313-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl.metadata (109 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.3.0-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.4-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: comm>=0.1.3 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (0.2.3)
Requirement already satisfied: traitlets>=4.3.1 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (5.14.3)
Collecting widgetsnbextension~=4.0.14 (from ipywidgets)
  Downloading widgetsnbextension-4.0.14-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab_widgets~=3.0.15 (from ipywidgets)
  Downloading jupyterlab_widgets-3.0.15-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: decorator in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.13/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.13/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.13/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading matplotlib-3.10.6-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (8.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 72.6 MB/s  0:00:00
Downloading ipywidgets-8.1.7-py3-none-any.whl (139 kB)
Downloading jupyterlab_widgets-3.0.15-py3-none-any.whl (216 kB)
Downloading widgetsnbextension-4.0.14-py3-none-any.whl (2.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 65.6 MB/s  0:00:00
Downloading contourpy-1.3.3-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (362 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.59.2-cp313-cp313-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 90.3 MB/s  0:00:00
Downloading kiwisolver-1.4.9-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 80.1 MB/s  0:00:00
Downloading pillow-11.3.0-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 88.9 MB/s  0:00:00
Downloading pyparsing-3.2.4-py3-none-any.whl (113 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: widgetsnbextension, sqlparse, pyparsing, prettytable, pillow, kiwisolver, jupyterlab_widgets, fonttools, cycler, contourpy, matplotlib, ipywidgets, ipython-sql
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13/13 [ipython-sql] [matplotlib]
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.59.2 ipython-sql-0.5.0 ipywidgets-8.1.7 jupyterlab_widgets-3.0.15 kiwisolver-1.4.9 matplotlib-3.10.6 pillow-11.3.0 prettytable-3.16.0 pyparsing-3.2.4 sqlparse-0.5.3 widgetsnbextension-4.0.14

In [3]:
%load_ext sql

engine = create_engine(DATABASE_URI)
%sql postgresql://postgres:postgres@postgres
%config SqlMagic.displaylimit=None
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

%sql SET Search_Path To bpsp;

 * postgresql://postgres:***@postgres
Done.

[]

# Criação da tabela de Colesterol

In [8]:
%%sql
SELECT DE_Exame, 'BPSP' AS DE_Hospital, Count(*) 
    FROM ExamLabs
    WHERE DE_Exame~*'coleste'
    GROUP BY DE_Exame, DE_Hospital

 * postgresql://postgres:***@postgres
4 rows affected.

[('Colesterol total, soro', 'BPSP', 10361),
 ('HDL Colesterol, soro', 'BPSP', 10053),
 ('LDL Colesterol (Colesterol, Fracao LDL), soro', 'BPSP', 17773),
 ('VLDL Colesterol, soro', 'BPSP', 9923)]

In [10]:
%%sql
SELECT COUNT(*), E.DT_Coleta
FROM ExamLabs E
GROUP BY E.DT_Coleta
ORDER BY E.DT_Coleta

 * postgresql://postgres:***@postgres
465 rows affected.

[(134, datetime.date(2019, 1, 11)),
 (282, datetime.date(2019, 1, 12)),
 (14, datetime.date(2019, 2, 11)),
 (318, datetime.date(2019, 2, 12)),
 (53, datetime.date(2019, 3, 11)),
 (269, datetime.date(2019, 3, 12)),
 (53, datetime.date(2019, 4, 11)),
 (639, datetime.date(2019, 4, 12)),
 (40, datetime.date(2019, 5, 11)),
 (838, datetime.date(2019, 5, 12)),
 (166, datetime.date(2019, 6, 11)),
 (665, datetime.date(2019, 6, 12)),
 (207, datetime.date(2019, 7, 11)),
 (493, datetime.date(2019, 7, 12)),
 (33, datetime.date(2019, 8, 11)),
 (347, datetime.date(2019, 8, 12)),
 (124, datetime.date(2019, 9, 11)),
 (428, datetime.date(2019, 9, 12)),
 (66, datetime.date(2019, 10, 11)),
 (365, datetime.date(2019, 10, 12)),
 (106, datetime.date(2019, 11, 11)),
 (437, datetime.date(2019, 11, 12)),
 (73, datetime.date(2019, 11, 13)),
 (50, datetime.date(2019, 11, 14)),
 (83, datetime.date(2019, 11, 15)),
 (27, datetime.date(2019, 11, 16)),
 (44, datetime.date(2019, 11, 17)),
 (122, datetime.date(2019, 11, 18)),
 (69, datetime.date(2019, 11, 19)),
 (48, datetime.date(2019, 11, 20)),
 (181, datetime.date(2019, 11, 21)),
 (83, datetime.date(2019, 11, 22)),
 (63, datetime.date(2019, 11, 23)),
 (53, datetime.date(2019, 11, 24)),
 (167, datetime.date(2019, 11, 25)),
 (62, datetime.date(2019, 11, 26)),
 (221, datetime.date(2019, 11, 27)),
 (275, datetime.date(2019, 11, 28)),
 (334, datetime.date(2019, 11, 29)),
 (224, datetime.date(2019, 11, 30)),
 (28, datetime.date(2019, 12, 11)),
 (358, datetime.date(2019, 12, 12)),
 (350, datetime.date(2019, 12, 13)),
 (291, datetime.date(2019, 12, 14)),
 (322, datetime.date(2019, 12, 15)),
 (393, datetime.date(2019, 12, 16)),
 (290, datetime.date(2019, 12, 17)),
 (438, datetime.date(2019, 12, 18)),
 (264, datetime.date(2019, 12, 19)),
 (313, datetime.date(2019, 12, 20)),
 (382, datetime.date(2019, 12, 21)),
 (349, datetime.date(2019, 12, 22)),
 (306, datetime.date(2019, 12, 23)),
 (338, datetime.date(2019, 12, 24)),
 (352, datetime.date(2019, 12, 25)),
 (441, datetime.date(2019, 12, 26)),
 (603, datetime.date(2019, 12, 27)),
 (430, datetime.date(2019, 12, 28)),
 (465, datetime.date(2019, 12, 29)),
 (508, datetime.date(2019, 12, 30)),
 (483, datetime.date(2019, 12, 31)),
 (262, datetime.date(2020, 1, 1)),
 (975, datetime.date(2020, 1, 2)),
 (5744, datetime.date(2020, 1, 3)),
 (12621, datetime.date(2020, 1, 4)),
 (12716, datetime.date(2020, 1, 5)),
 (19327, datetime.date(2020, 1, 6)),
 (21261, datetime.date(2020, 1, 7)),
 (18606, datetime.date(2020, 1, 8)),
 (25613, datetime.date(2020, 1, 9)),
 (22963, datetime.date(2020, 1, 10)),
 (16093, datetime.date(2020, 1, 11)),
 (23384, datetime.date(2020, 1, 12)),
 (546, datetime.date(2020, 1, 13)),
 (586, datetime.date(2020, 1, 14)),
 (650, datetime.date(2020, 1, 15)),
 (624, datetime.date(2020, 1, 16)),
 (442, datetime.date(2020, 1, 17)),
 (442, datetime.date(2020, 1, 18)),
 (210, datetime.date(2020, 1, 19)),
 (568, datetime.date(2020, 1, 20)),
 (430, datetime.date(2020, 1, 21)),
 (452, datetime.date(2020, 1, 22)),
 (643, datetime.date(2020, 1, 23)),
 (506, datetime.date(2020, 1, 24)),
 (451, datetime.date(2020, 1, 25)),
 (592, datetime.date(2020, 1, 26)),
 (674, datetime.date(2020, 1, 27)),
 (652, datetime.date(2020, 1, 28)),
 (815, datetime.date(2020, 1, 29)),
 (688, datetime.date(2020, 1, 30)),
 (799, datetime.date(2020, 1, 31)),
 (398, datetime.date(2020, 2, 1)),
 (855, datetime.date(2020, 2, 2)),
 (10626, datetime.date(2020, 2, 3)),
 (13671, datetime.date(2020, 2, 4)),
 (12562, datetime.date(2020, 2, 5)),
 (20655, datetime.date(2020, 2, 6)),
 (22574, datetime.date(2020, 2, 7)),
 (14807, datetime.date(2020, 2, 8)),
 (25565, datetime.date(2020, 2, 9)),
 (22825, datetime.date(2020, 2, 10)),
 (19480, datetime.date(2020, 2, 11)),
 (24248, datetime.date(2020, 2, 12)),
 (1912, datetime.date(2020, 2, 13)),
 (2202, datetime.date(2020, 2, 14)),
 (1999, datetime.date(2020, 2, 15)),
 (2291, datetime.date(2020, 2, 16)),
 (2471, datetime.date(2020, 2, 17)),
 (2811, datetime.date(2020, 2, 18)),
 (3036, datetime.date(2020, 2, 19)),
 (3308, datetime.date(2020, 2, 20)),
 (2937, datetime.date(2020, 2, 21)),
 (2874, datetime.date(2020, 2, 22)),
 (2746, datetime.date(2020, 2, 23)),
 (3146, datetime.date(2020, 2, 24)),
 (3773, datetime.date(2020, 2, 25)),
 (4418, datetime.date(2020, 2, 26)),
 (4620, datetime.date(2020, 2, 27)),
 (6200, datetime.date(2020, 2, 28)),
 (5226, datetime.date(2020, 2, 29)),
 (300, datetime.date(2020, 3, 1)),
 (1339, datetime.date(2020, 3, 2)),
 (11104, datetime.date(2020, 3, 3)),
 (13442, datetime.date(2020, 3, 4)),
 (10995, datetime.date(2020, 3, 5)),
 (19712, datetime.date(2020, 3, 6)),
 (21647, datetime.date(2020, 3, 7)),
 (22777, datetime.date(2020, 3, 8)),
 (28080, datetime.date(2020, 3, 9)),
 (20048, datetime.date(2020, 3, 10)),
 (26198, datetime.date(2020, 3, 11)),
 (22865, datetime.date(2020, 3, 12)),
 (11916, datetime.date(2020, 3, 13)),
 (10441, datetime.date(2020, 3, 14)),
 (7826, datetime.date(2020, 3, 15)),
 (13805, datetime.date(2020, 3, 16)),
 (13855, datetime.date(2020, 3, 17)),
 (11340, datetime.date(2020, 3, 18)),
 (11382, datetime.date(2020, 3, 19)),
 (9761, datetime.date(2020, 3, 20)),
 (8293, datetime.date(2020, 3, 21)),
 (6948, datetime.date(2020, 3, 22)),
 (10377, datetime.date(2020, 3, 23)),
 (9343, datetime.date(2020, 3, 24)),
 (10291, datetime.date(2020, 3, 25)),
 (11656, datetime.date(2020, 3, 26)),
 (10810, datetime.date(2020, 3, 27)),
 (9208, datetime.date(2020, 3, 28)),
 (8623, datetime.date(2020, 3, 29)),
 (12338, datetime.date(2020, 3, 30)),
 (12033, datetime.date(2020, 3, 31)),
 (414, datetime.date(2020, 4, 1)),
 (1284, datetime.date(2020, 4, 2)),
 (12080, datetime.date(2020, 4, 3)),
 (10532, datetime.date(2020, 4, 4)),
 (16075, datetime.date(2020, 4, 5)),
 (19780, datetime.date(2020, 4, 6)),
 (18039, datetime.date(2020, 4, 7)),
 (23367, datetime.date(2020, 4, 8)),
 (22856, datetime.date(2020, 4, 9)),
 (16150, datetime.date(2020, 4, 10)),
 (23435, datetime.date(2020, 4, 11)),
 (22790, datetime.date(2020, 4, 12)),
 (13818, datetime.date(2020, 4, 13)),
 (13416, datetime.date(2020, 4, 14)),
 (14258, datetime.date(2020, 4, 15)),
 (13165, datetime.date(2020, 4, 16)),
 (12276, datetime.date(2020, 4, 17)),
 (10304, datetime.date(2020, 4, 18)),
 (9711, datetime.date(2020, 4, 19)),
 (12038, datetime.date(2020, 4, 20)),
 (10530, datetime.date(2020, 4, 21)),
 (14170, datetime.date(2020, 4, 22)),
 (14397, datetime.date(2020, 4, 23)),
 (13717, datetime.date(2020, 4, 24)),
 (11909, datetime.date(2020, 4, 25)),
 (12064, datetime.date(2020, 4, 26)),
 (16639, datetime.date(2020, 4, 27)),
 (14750, datetime.date(2020, 4, 28)),
 (14976, datetime.date(2020, 4, 29)),
 (17373, datetime.date(2020, 4, 30)),
 (295, datetime.date(2020, 5, 1)),
 (1836, datetime.date(2020, 5, 2)),
 (10755, datetime.date(2020, 5, 3)),
 (10758, datetime.date(2020, 5, 4)),
 (15898, datetime.date(2020, 5, 5)),
 (19930, datetime.date(2020, 5, 6)),
 (14439, datetime.date(2020, 5, 7)),
 (24014, datetime.date(2020, 5, 8)),
 (19573, datetime.date(2020, 5, 9)),
 (26361, datetime.date(2020, 5, 10)),
 (23242, datetime.date(2020, 5, 11)),
 (20644, datetime.date(2020, 5, 12)),
 (18858, datetime.date(2020, 5, 13)),
 (20678, datetime.date(2020, 5, 14)),
 (20079, datetime.date(2020, 5, 15)),
 (16670, datetime.date(2020, 5, 16)),
 (15668, datetime.date(2020, 5, 17)),
 (18709, datetime.date(2020, 5, 18)),
 (20514, datetime.date(2020, 5, 19)),
 (18809, datetime.date(2020, 5, 20)),
 (18035, datetime.date(2020, 5, 21)),
 (18424, datetime.date(2020, 5, 22)),
 (15501, datetime.date(2020, 5, 23)),
 (15948, datetime.date(2020, 5, 24)),
 (21589, datetime.date(2020, 5, 25)),
 (19152, datetime.date(2020, 5, 26)),
 (20667, datetime.date(2020, 5, 27)),
 (21757, datetime.date(2020, 5, 28)),
 (19828, datetime.date(2020, 5, 29)),
 (16386, datetime.date(2020, 5, 30)),
 (14825, datetime.date(2020, 5, 31)),
 (439, datetime.date(2020, 6, 1)),
 (1355, datetime.date(2020, 6, 2)),
 (11176, datetime.date(2020, 6, 3)),
 (13244, datetime.date(2020, 6, 4)),
 (15613, datetime.date(2020, 6, 5)),
 (15833, datetime.date(2020, 6, 6)),
 (23007, datetime.date(2020, 6, 7)),
 (23139, datetime.date(2020, 6, 8)),
 (17630, datetime.date(2020, 6, 9)),
 (26913, datetime.date(2020, 6, 10)),
 (24456, datetime.date(2020, 6, 11)),
 (15268, datetime.date(2020, 6, 12)),
 (18246, datetime.date(2020, 6, 13)),
 (14407, datetime.date(2020, 6, 14)),
 (21075, datetime.date(2020, 6, 15)),
 (20781, datetime.date(2020, 6, 16)),
 (21776, datetime.date(2020, 6, 17)),
 (21815, datetime.date(2020, 6, 18)),
 (20169, datetime.date(2020, 6, 19)),
 (18835, datetime.date(2020, 6, 20)),
 (14075, datetime.date(2020, 6, 21)),
 (22194, datetime.date(2020, 6, 22)),
 (20918, datetime.date(2020, 6, 23)),
 (19483, datetime.date(2020, 6, 24)),
 (20831, datetime.date(2020, 6, 25)),
 (19179, datetime.date(2020, 6, 26)),
 (16097, datetime.date(2020, 6, 27)),
 (13708, datetime.date(2020, 6, 28)),
 (20739, datetime.date(2020, 6, 29)),
 (20726, datetime.date(2020, 6, 30)),
 (403, datetime.date(2020, 7, 1)),
 (1189, datetime.date(2020, 7, 2)),
 (8891, datetime.date(2020, 7, 3)),
 (13023, datetime.date(2020, 7, 4)),
 (14047, datetime.date(2020, 7, 5)),
 (14166, datetime.date(2020, 7, 6)),
 (23680, datetime.date(2020, 7, 7)),
 (22310, datetime.date(2020, 7, 8)),
 (18334, datetime.date(2020, 7, 9)),
 (25994, datetime.date(2020, 7, 10)),
 (21408, datetime.date(2020, 7, 11)),
 (22989, datetime.date(2020, 7, 12)),
 (23780, datetime.date(2020, 7, 13)),
 (22906, datetime.date(2020, 7, 14)),
 (23522, datetime.date(2020, 7, 15)),
 (23171, datetime.date(2020, 7, 16)),
 (21251, datetime.date(2020, 7, 17)),
 (18826, datetime.date(2020, 7, 18)),
 (15675, datetime.date(2020, 7, 19)),
 (22497, datetime.date(2020, 7, 20)),
 (23538, datetime.date(2020, 7, 21)),
 (24901, datetime.date(2020, 7, 22)),
 (23748, datetime.date(2020, 7, 23)),
 (22658, datetime.date(2020, 7, 24)),
 (19859, datetime.date(2020, 7, 25)),
 (16770, datetime.date(2020, 7, 26)),
 (24284, datetime.date(2020, 7, 27)),
 (23237, datetime.date(2020, 7, 28)),
 (22347, datetime.date(2020, 7, 29)),
 (23356, datetime.date(2020, 7, 30)),
 (22313, datetime.date(2020, 7, 31)),
 (1137, datetime.date(2020, 8, 1)),
 (1479, datetime.date(2020, 8, 2)),
 (6637, datetime.date(2020, 8, 3)),
 (13769, datetime.date(2020, 8, 4)),
 (14784, datetime.date(2020, 8, 5)),
 (20144, datetime.date(2020, 8, 6)),
 (22495, datetime.date(2020, 8, 7)),
 (18522, datetime.date(2020, 8, 8)),
 (25562, datetime.date(2020, 8, 9)),
 (24159, datetime.date(2020, 8, 10)),
 (16271, datetime.date(2020, 8, 11)),
 (22832, datetime.date(2020, 8, 12)),
 (23752, datetime.date(2020, 8, 13)),
 (23120, datetime.date(2020, 8, 14)),
 (20576, datetime.date(2020, 8, 15)),
 (16166, datetime.date(2020, 8, 16)),
 (27058, datetime.date(2020, 8, 17)),
 (25879, datetime.date(2020, 8, 18)),
 (25195, datetime.date(2020, 8, 19)),
 (24976, datetime.date(2020, 8, 20)),
 (23234, datetime.date(2020, 8, 21)),
 (19198, datetime.date(2020, 8, 22)),
 (15668, datetime.date(2020, 8, 23)),
 (24124, datetime.date(2020, 8, 24)),
 (21843, datetime.date(2020, 8, 25)),
 (24459, datetime.date(2020, 8, 26)),
 (24382, datetime.date(2020, 8, 27)),
 (22512, datetime.date(2020, 8, 28)),
 (19131, datetime.date(2020, 8, 29)),
 (15700, datetime.date(2020, 8, 30)),
 (25721, datetime.date(2020, 8, 31)),
 (1186, datetime.date(2020, 9, 1)),
 (1153, datetime.date(2020, 9, 2)),
 (12098, datetime.date(2020, 9, 3)),
 (12707, datetime.date(2020, 9, 4)),
 (11460, datetime.date(2020, 9, 5)),
 (20411, datetime.date(2020, 9, 6)),
 (23436, datetime.date(2020, 9, 7)),
 (16654, datetime.date(2020, 9, 8)),
 (24754, datetime.date(2020, 9, 9)),
 (23792, datetime.date(2020, 9, 10)),
 (24535, datetime.date(2020, 9, 11)),
 (22454, datetime.date(2020, 9, 12)),
 (17671, datetime.date(2020, 9, 13)),
 (23265, datetime.date(2020, 9, 14)),
 (25831, datetime.date(2020, 9, 15)),
 (24699, datetime.date(2020, 9, 16)),
 (23998, datetime.date(2020, 9, 17)),
 (25585, datetime.date(2020, 9, 18)),
 (20392, datetime.date(2020, 9, 19)),
 (15986, datetime.date(2020, 9, 20)),
 (23276, datetime.date(2020, 9, 21)),
 (26168, datetime.date(2020, 9, 22)),
 (24401, datetime.date(2020, 9, 23)),
 (24273, datetime.date(2020, 9, 24)),
 (24183, datetime.date(2020, 9, 25)),
 (19509, datetime.date(2020, 9, 26)),
 (15469, datetime.date(2020, 9, 27)),
 (22482, datetime.date(2020, 9, 28)),
 (24369, datetime.date(2020, 9, 29)),
 (21132, datetime.date(2020, 9, 30)),
 (755, datetime.date(2020, 10, 1)),
 (1494, datetime.date(2020, 10, 2)),
 (11272, datetime.date(2020, 10, 3)),
 (10449, datetime.date(2020, 10, 4)),
 (12005, datetime.date(2020, 10, 5)),
 (20199, datetime.date(2020, 10, 6)),
 (22719, datetime.date(2020, 10, 7)),
 (24229, datetime.date(2020, 10, 8)),
 (25955, datetime.date(2020, 10, 9)),
 (19057, datetime.date(2020, 10, 10)),
 (25411, datetime.date(2020, 10, 11)),
 (23356, datetime.date(2020, 10, 12)),
 (25112, datetime.date(2020, 10, 13)),
 (25295, datetime.date(2020, 10, 14)),
 (25180, datetime.date(2020, 10, 15)),
 (23707, datetime.date(2020, 10, 16)),
 (20927, datetime.date(2020, 10, 17)),
 (16713, datetime.date(2020, 10, 18)),
 (24105, datetime.date(2020, 10, 19)),
 (25011, datetime.date(2020, 10, 20)),
 (23431, datetime.date(2020, 10, 21)),
 (25456, datetime.date(2020, 10, 22)),
 (24774, datetime.date(2020, 10, 23)),
 (20794, datetime.date(2020, 10, 24)),
 (17859, datetime.date(2020, 10, 25)),
 (24589, datetime.date(2020, 10, 26)),
 (27078, datetime.date(2020, 10, 27)),
 (25946, datetime.date(2020, 10, 28)),
 (23490, datetime.date(2020, 10, 29)),
 (24766, datetime.date(2020, 10, 30)),
 (20943, datetime.date(2020, 10, 31)),
 (530, datetime.date(2020, 11, 1)),
 (1675, datetime.date(2020, 11, 2)),
 (11939, datetime.date(2020, 11, 3)),
 (10269, datetime.date(2020, 11, 4)),
 (16526, datetime.date(2020, 11, 5)),
 (19632, datetime.date(2020, 11, 6)),
 (18281, datetime.date(2020, 11, 7)),
 (23404, datetime.date(2020, 11, 8)),
 (24302, datetime.date(2020, 11, 9)),
 (15349, datetime.date(2020, 11, 10)),
 (24263, datetime.date(2020, 11, 11)),
 (22118, datetime.date(2020, 11, 12)),
 (23557, datetime.date(2020, 11, 13)),
 (19714, datetime.date(2020, 11, 14)),
 (15365, datetime.date(2020, 11, 15)),
 (23824, datetime.date(2020, 11, 16)),
 (26090, datetime.date(2020, 11, 17)),
 (24727, datetime.date(2020, 11, 18)),
 (24001, datetime.date(2020, 11, 19)),
 (22720, datetime.date(2020, 11, 20)),
 (20289, datetime.date(2020, 11, 21)),
 (15131, datetime.date(2020, 11, 22)),
 (24050, datetime.date(2020, 11, 23)),
 (24006, datetime.date(2020, 11, 24)),
 (24537, datetime.date(2020, 11, 25)),
 (21623, datetime.date(2020, 11, 26)),
 (22495, datetime.date(2020, 11, 27)),
 (18854, datetime.date(2020, 11, 28)),
 (15441, datetime.date(2020, 11, 29)),
 (22757, datetime.date(2020, 11, 30)),
 (478, datetime.date(2020, 12, 1)),
 (1729, datetime.date(2020, 12, 2)),
 (12043, datetime.date(2020, 12, 3)),
 (9122, datetime.date(2020, 12, 4)),
 (17410, datetime.date(2020, 12, 5)),
 (20216, datetime.date(2020, 12, 6)),
 (15624, datetime.date(2020, 12, 7)),
 (23680, datetime.date(2020, 12, 8)),
 (18813, datetime.date(2020, 12, 9)),
 (19776, datetime.date(2020, 12, 10)),
 (24964, datetime.date(2020, 12, 11)),
 (19033, datetime.date(2020, 12, 12)),
 (14622, datetime.date(2020, 12, 13)),
 (22580, datetime.date(2020, 12, 14)),
 (22475, datetime.date(2020, 12, 15)),
 (21965, datetime.date(2020, 12, 16)),
 (21202, datetime.date(2020, 12, 17)),
 (20783, datetime.date(2020, 12, 18)),
 (17042, datetime.date(2020, 12, 19)),
 (13646, datetime.date(2020, 12, 20)),
 (20580, datetime.date(2020, 12, 21)),
 (19859, datetime.date(2020, 12, 22)),
 (17164, datetime.date(2020, 12, 23)),
 (11718, datetime.date(2020, 12, 24)),
 (10781, datetime.date(2020, 12, 25)),
 (13678, datetime.date(2020, 12, 26)),
 (12769, datetime.date(2020, 12, 27)),
 (18670, datetime.date(2020, 12, 28)),
 (16754, datetime.date(2020, 12, 29)),
 (15508, datetime.date(2020, 12, 30)),
 (11180, datetime.date(2020, 12, 31)),
 (11067, datetime.date(2021, 1, 1)),
 (33, datetime.date(2021, 1, 2)),
 (19489, datetime.date(2021, 1, 13)),
 (17572, datetime.date(2021, 1, 14)),
 (17645, datetime.date(2021, 1, 15)),
 (15792, datetime.date(2021, 1, 16)),
 (11487, datetime.date(2021, 1, 17)),
 (17391, datetime.date(2021, 1, 18)),
 (18953, datetime.date(2021, 1, 19)),
 (16277, datetime.date(2021, 1, 20)),
 (15057, datetime.date(2021, 1, 21)),
 (14474, datetime.date(2021, 1, 22)),
 (10070, datetime.date(2021, 1, 23)),
 (7740, datetime.date(2021, 1, 24)),
 (10273, datetime.date(2021, 1, 25)),
 (13794, datetime.date(2021, 1, 26)),
 (11151, datetime.date(2021, 1, 27)),
 (11241, datetime.date(2021, 1, 28)),
 (8327, datetime.date(2021, 1, 29)),
 (5455, datetime.date(2021, 1, 30)),
 (1581, datetime.date(2021, 1, 31)),
 (12841, datetime.date(2021, 2, 1)),
 (16, datetime.date(2021, 2, 2)),
 (11710, datetime.date(2021, 3, 1)),
 (2, datetime.date(2021, 3, 2)),
 (18321, datetime.date(2021, 4, 1)),
 (20, datetime.date(2021, 4, 3)),
 (20573, datetime.date(2021, 5, 1)),
 (34, datetime.date(2021, 5, 2)),
 (18900, datetime.date(2021, 6, 1)),
 (20078, datetime.date(2021, 7, 1)),
 (17825, datetime.date(2021, 8, 1)),
 (14282, datetime.date(2021, 9, 1)),
 (15, datetime.date(2021, 9, 2)),
 (12652, datetime.date(2021, 10, 1)),
 (20783, datetime.date(2021, 11, 1)),
 (19318, datetime.date(2021, 12, 1)),
 (1, datetime.date(2021, 12, 2))]

In [11]:
%%sql
WITH 
maximos AS (
SELECT 'maximos' AS type, P.ID_Paciente, E.DT_Coleta, COUNT(*)
FROM ExamLabs E
    JOIN Pacientes P
        ON P.ID_Paciente = E.ID_Paciente
GROUP BY P.ID_Paciente, E.DT_Coleta
ORDER BY COUNT(*) DESC
LIMIT 10
), 
minimos AS (
SELECT 'minimos' AS type, P.ID_Paciente, E.DT_Coleta, COUNT(*)
FROM ExamLabs E
    JOIN Pacientes P
        ON P.ID_Paciente = E.ID_Paciente
GROUP BY P.ID_Paciente, E.DT_Coleta
ORDER BY 1, COUNT(*)
LIMIT 10
)

SELECT * FROM MAXIMOS
UNION ALL 
SELECT * FROM MINIMOS

 * postgresql://postgres:***@postgres
20 rows affected.

[('maximos', '3716DF853C429959', datetime.date(2020, 12, 8), 399),
 ('maximos', '27AF7EF08529077E', datetime.date(2020, 5, 15), 390),
 ('maximos', '905E16380592ED14', datetime.date(2020, 11, 19), 383),
 ('maximos', '83CE49B05A980EF4', datetime.date(2020, 9, 17), 373),
 ('maximos', 'B9A5DE65F282D269', datetime.date(2020, 8, 16), 367),
 ('maximos', '3716DF853C429959', datetime.date(2020, 8, 21), 365),
 ('maximos', '49D461E44B509721', datetime.date(2020, 8, 26), 357),
 ('maximos', '5CF673DFBA68456F', datetime.date(2021, 1, 15), 357),
 ('maximos', 'E33B4956A34F3F64', datetime.date(2020, 8, 30), 354),
 ('maximos', 'D19BC10BDA17D2D2', datetime.date(2020, 7, 11), 350),
 ('minimos', 'AF4116D1985E365E', datetime.date(2020, 12, 11), 1),
 ('minimos', 'A30676643763BE85', datetime.date(2021, 1, 29), 1),
 ('minimos', '385E814FC51B508A', datetime.date(2020, 9, 25), 1),
 ('minimos', '547A48EC3E32F851', datetime.date(2020, 10, 17), 1),
 ('minimos', '20CD329EAAB04889', datetime.date(2021, 2, 1), 1),
 ('minimos', '75E92359B29B088B', datetime.date(2020, 11, 21), 1),
 ('minimos', '1FF81A0DCEB8437B', datetime.date(2020, 9, 10), 1),
 ('minimos', '723E3DDDED81564B', datetime.date(2020, 11, 13), 1),
 ('minimos', '2AE9D65D754062CC', datetime.date(2020, 9, 23), 1),
 ('minimos', '600181D645509B71', datetime.date(2020, 11, 26), 1)]

In [12]:
%%sql
SELECT 
    P.id_paciente, E.dt_coleta
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'ldl' AND E.de_analito!~*'vldl') AS LDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'hdl') AS HDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'v.*coles')AS VLDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'n[aã]o.hdl')AS NaoHDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE Lower(E.de_analito) IN ('colesterol total', 'colesterol')) AS Total,
FROM D2.ExamLabs E JOIN D2.Pacientes P on E.id_paciente = P.ID_Paciente
WHERE  P.CD_Municipio IN('GUARULHOS', 'OSASCO') AND
    E.de_exame ~*'coleste' AND 
    E.de_resultado!~'[^\d.,+-]'
GROUP BY P.id_paciente, E.dt_coleta
LIMIT 10;

 * postgresql://postgres:***@postgres
(psycopg2.errors.SyntaxError) syntax error at or near "("
LINE 3:     AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'...
               ^

[SQL: SELECT
    P.id_paciente, E.dt_coleta
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'ldl' AND E.de_analito!~*'vldl') AS LDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'hdl') AS HDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'v.*coles')AS VLDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'n[aã]o.hdl')AS NaoHDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE Lower(E.de_analito) IN ('colesterol total', 'colesterol')) AS Total,
FROM D2.ExamLabs E JOIN D2.Pacientes P on E.id_paciente = P.ID_Paciente
WHERE  P.CD_Municipio IN('GUARULHOS', 'OSASCO') AND
    E.de_exame ~*'coleste' AND
    E.de_resultado!~'[^\d.,+-]'
GROUP BY P.id_paciente, E.dt_coleta
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/f405)