# Grafos

## Autores

| Nome | nUSP |
| :--- | :--- |
| Guilherme de Abreu Barreto | 12543033 |
| Lucas Eduardo Gulka Pulcinelli | 12547336 |
| Vinicio Yusuke Hayashibara | 13642797 |

In [ ]:
!docker compose up -d

!docker cp "dados/airports.csv" mineracao-dados-age-1:/data/
!docker cp "dados/routes.csv"   mineracao-dados-age-1:/data/

In [ ]:
############## Importar os módulos necessários para o Notebook:
import matplotlib.pyplot as plt
import pandas.io.sql as psql
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
import time                      #--  Medir tempo de execução de comandos
from sqlalchemy import create_engine
from pyvis import network as net

DEFAULT_DATABASE = "postgres"
USER = "postgres"
PASSWORD = "postgres"
HOST = "localhost"
PORT = 5435
URI = f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}/"

In [ ]:
%load_ext sql
engine = create_engine(URI + DEFAULT_DATABASE, echo=True)

%sql postgresql://postgres:postgres@localhost:5435/postgres
%config SqlMagic.displaylimit=None

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%%sql
CREATE EXTENSION IF NOT EXISTS age;
LOAD 'age';

   postgresql://postgres:***@localhost:5432/postgres
 * postgresql://postgres:***@localhost:5435/postgres
Done.
Done.

[]

In [16]:
%%sql
SET search_path = ag_catalog, "$user", public;
SHOW search_path;

   postgresql://postgres:***@localhost:5432/postgres
 * postgresql://postgres:***@localhost:5435/postgres
Done.
1 rows affected.

[('ag_catalog, "$user", public',)]

In [ ]:
%%sql
SELECT create_graph('openflights');

   postgresql://postgres:***@localhost:5432/postgres
 * postgresql://postgres:***@localhost:5435/postgres
1 rows affected.

[('',)]

In [55]:
%%sql

CREATE TABLE airports_raw (
    airport_id INT,
    name TEXT,
    city TEXT,
    country TEXT,
    iata TEXT, -- Código aeroportuário IATA (International Air Transport Association airport code)
    icao TEXT, -- Código aeroportuário ICAO (ICAO airport code)
    lat FLOAT,
    lon FLOAT,
    altitude INT,
    timezone FLOAT,
    dst TEXT,
    tz TEXT,
    type TEXT,
    source TEXT
);

CREATE TABLE routes_raw (
    airline TEXT,
    airline_id INT,
    source TEXT,
    source_id INT,
    dest TEXT,
    dest_id INT,
    codeshare TEXT,
    stops INT,
    equipment TEXT
);

   postgresql://postgres:***@localhost:5432/postgres
 * postgresql://postgres:***@localhost:5435/postgres
(psycopg2.errors.DuplicateTable) relation "airports_raw" already exists

[SQL: CREATE TABLE airports_raw (
    airport_id INT,
    name TEXT,
    city TEXT,
    country TEXT,
    iata TEXT, -- Código aeroportuário IATA (International Air Transport Association airport code)
    icao TEXT, -- Código aeroportuário ICAO (ICAO airport code)
    lat FLOAT,
    lon FLOAT,
    altitude INT,
    timezone FLOAT,
    dst TEXT,
    tz TEXT,
    type TEXT,
    source TEXT
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [65]:
%%sql 
COPY airports_raw 
FROM '/data/airports.csv'
CSV
HEADER
NULL '\N';

COPY airports_raw 
FROM '/data/airports.csv'
CSV
HEADER
NULL '\N';

   postgresql://postgres:***@localhost:5432/postgres
 * postgresql://postgres:***@localhost:5435/postgres
7697 rows affected.
7697 rows affected.

[]