In [1]:
!pip install matplotlib pandas sqlalchemy[postgres] ipython-sql ipywidgets psycopg2-binary

Requirement already satisfied: matplotlib in /opt/conda/lib/python3.13/site-packages (3.10.7)
Requirement already satisfied: pandas in /opt/conda/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.13/site-packages (8.1.8)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.13/site-packages (2.9.11)
Requirement already satisfied: sqlalchemy[postgres] in /opt/conda/lib/python3.13/site-packages (2.0.43)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (2.3.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
WARNING: sqlalchemy 2.0.43 does not provide the extra 'postgres'
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy[postgres]) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy[postgres]) (4.15.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (9.5.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: comm>=0.1.3 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (0.2.3)
Requirement already satisfied: traitlets>=4.3.1 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.14 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (4.0.15)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (3.0.16)
Requirement already satisfied: decorator in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.13/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.13/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.13/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [3]:
############## Importar os módulos necessários para o Notebook:
import matplotlib.pyplot as plt
import pandas.io.sql as psql
import timeit
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na Base postgres ###################### --> Postgres.postgres
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:postgres@pgvector:5432/postgres')
%sql postgresql://postgres:postgres@pgvector:5432/postgres

%sql DB << SELECT Version();
print(DB)

 * postgresql://postgres:***@pgvector:5432/postgres
1 rows affected.
Returning data to local variable DB
+--------------------------------------------------------------------------------------------------------------------+
|                                                      version                                                       |
+--------------------------------------------------------------------------------------------------------------------+
| PostgreSQL 17.6 (Debian 17.6-1.pgdg13+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 14.2.0-19) 14.2.0, 64-bit |
+--------------------------------------------------------------------------------------------------------------------+

In [27]:
%%sql
SELECT * 
FROM information_schema.tables
WHERE table_schema = 'public'

 * postgresql://postgres:***@pgvector:5432/postgres
4 rows affected.

[('postgres', 'public', 'recipes', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('postgres', 'public', 'nutrients', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('postgres', 'public', 'recipe_ingredients', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('postgres', 'public', 'ingredients', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [50]:
%%sql
DROP TABLE IF EXISTS Nutrients CASCADE;
CREATE TABLE public.Nutrients (
id integer PRIMARY KEY NOT NULL, calories FLOAT, carbohydrates_g FLOAT, sugars_g FLOAT, fat_g FLOAT, saturated_fat_g FLOAT, cholesterol_mg FLOAT, protein_g FLOAT, dietaryfiber_g FLOAT, sodium_mg FLOAT, caloriesfromfat FLOAT, calcium_mg FLOAT, iron_mg FLOAT, magnesium_mg FLOAT, potassium_mg FLOAT, zinc_mg FLOAT, phosphorus_mg FLOAT, vitaminaa_iu FLOAT, niacinequivalents_mg FLOAT, vitaminb6_mg FLOAT, vitamin_c_mg FLOAT, folate_mcg FLOAT, thiamin_mg FLOAT, riboflavin_mg FLOAT, vitamine_iu FLOAT, vitamink_mcg FLOAT, biotin_mcg FLOAT, vitaminb12_mcg FLOAT, monofat_g FLOAT, polyfat_g FLOAT, transfattyacid_g FLOAT, omega3fattyacid_g FLOAT, omega6fattyacid_g FLOAT
   
);

COPY Nutrients (id, calories, carbohydrates_g, sugars_g, fat_g, saturated_fat_g, cholesterol_mg, protein_g, dietaryfiber_g, sodium_mg, caloriesfromfat, calcium_mg, iron_mg, magnesium_mg, potassium_mg, zinc_mg, phosphorus_mg, vitaminaa_iu, niacinequivalents_mg, vitaminb6_mg, vitamin_c_mg, folate_mcg, thiamin_mg, riboflavin_mg, vitamine_iu, vitamink_mcg, biotin_mcg, vitaminb12_mcg, monofat_g, polyfat_g, transfattyacid_g, omega3fattyacid_g, omega6fattyacid_g
)
	FROM '/datasets/Recipes/ShNutrients.tsv'
    	WITH (DELIMITER E'\t', NULL E'', QUOTE E'\001', ENCODING 'UTF8', HEADER TRUE, FORMAT CSV);

 * postgresql://postgres:***@pgvector:5432/postgres
Done.
Done.
32710 rows affected.

[]

In [51]:
%%sql
ALTER TABLE Nutrients ADD COLUMN Embedding VECTOR(32)

 * postgresql://postgres:***@pgvector:5432/postgres
Done.

[]

In [58]:
%%sql
UPDATE Nutrients
SET Embedding = ARRAY[COALESCE(calories, 0), COALESCE(carbohydrates_g, 0), COALESCE(sugars_g, 0), COALESCE(fat_g, 0), COALESCE(saturated_fat_g, 0), COALESCE(cholesterol_mg, 0), COALESCE(protein_g, 0), COALESCE(dietaryfiber_g, 0), COALESCE(sodium_mg, 0), COALESCE(caloriesfromfat, 0), COALESCE(calcium_mg, 0), COALESCE(iron_mg, 0), COALESCE(magnesium_mg, 0), COALESCE(potassium_mg, 0), COALESCE(zinc_mg, 0), COALESCE(phosphorus_mg, 0), COALESCE(vitaminaa_iu, 0), COALESCE(niacinequivalents_mg, 0), COALESCE(vitaminb6_mg, 0), COALESCE(vitamin_c_mg, 0), COALESCE(folate_mcg, 0), COALESCE(thiamin_mg, 0), COALESCE(riboflavin_mg, 0), COALESCE(vitamine_iu, 0), COALESCE(vitamink_mcg, 0), COALESCE(biotin_mcg, 0), COALESCE(vitaminb12_mcg, 0), COALESCE(monofat_g, 0), COALESCE(polyfat_g, 0), COALESCE(transfattyacid_g, 0), COALESCE(omega3fattyacid_g, 0), COALESCE(omega6fattyacid_g, 0)
]::VECTOR(32);

 * postgresql://postgres:***@pgvector:5432/postgres
32710 rows affected.

[]

In [59]:
%%sql
CREATE INDEX hnsw_idx_nutrients ON nutrients USING hnsw (embedding vector_l2_ops)

 * postgresql://postgres:***@pgvector:5432/postgres
Done.

[]

In [89]:
%%sql
SELECT r.id, r.title
FROM recipes r
    JOIN recipe_ingredients ri ON r.id = ri.recipe_id
    JOIN ingredients i ON ri.ingredient_id = i.id
    JOIN nutrients n ON n.id = i.id
GROUP BY r.id
ORDER BY SUM(n.embedding) <-> (
    SELECT SUM(n.embedding) AS embedding
    FROM recipes r
        JOIN recipe_ingredients ri ON r.id = ri.recipe_id
        JOIN ingredients i ON ri.ingredient_id = i.id
        JOIN nutrients n ON n.id = i.id
    WHERE r.title = 'Egg Fried Rice'
) ASC
LIMIT 10

 * postgresql://postgres:***@pgvector:5432/postgres
10 rows affected.

[(4526, 'Egg Fried Rice'),
 (4737, 'Easy Tamale Casserole'),
 (13401, 'Soy Milk Pancakes'),
 (2102, 'Extra-Yummy Fluffy Pancakes'),
 (23205, "Mama's Summer Squash Casserole"),
 (4954, "Carol's Baked Ziti Casserole"),
 (3696, 'Johnsonville(R) Italian Meatballs'),
 (4474, 'Ranch Burgers'),
 (6323, 'Bloody Mary Mix'),
 (1095, 'Zucchini-Chocolate Chip Muffins')]

In [122]:
%%sql
SELECT id, title
FROM
((
SELECT 
    r.id, 
    r.title,
    ROW_NUMBER() OVER (
        ORDER BY SUM(n.embedding) <-> (
            SELECT SUM(n.embedding) AS embedding
            FROM recipes r
                JOIN recipe_ingredients ri ON r.id = ri.recipe_id
                JOIN ingredients i ON ri.ingredient_id = i.id
                JOIN nutrients n ON n.id = i.id
            WHERE r.title = 'Egg Fried Rice'
        )
    ) AS rn
FROM recipes r
    JOIN recipe_ingredients ri ON r.id = ri.recipe_id
    JOIN ingredients i ON ri.ingredient_id = i.id
    JOIN nutrients n ON n.id = i.id
GROUP BY r.id
ORDER BY rn ASC
LIMIT 10
) UNION ALL (
SELECT 
    r.id, 
    r.title,
    ROW_NUMBER () OVER (
        ORDER BY r.embedding <=> (
            SELECT r.embedding
            FROM recipes r
            WHERE r.title = 'Egg Fried Rice'
        )
    ) AS rn
FROM recipes r
ORDER BY rn ASC
LIMIT 10
))
GROUP BY id, title
ORDER BY SUM(1.0/(60+rn)) DESC

 * postgresql://postgres:***@pgvector:5432/postgres
19 rows affected.

[(4526, 'Egg Fried Rice'),
 (9971, 'Spaghetti With Red Clam Sauce'),
 (4737, 'Easy Tamale Casserole'),
 (13401, 'Soy Milk Pancakes'),
 (7192, 'One-Pan Chicken Dinner'),
 (2102, 'Extra-Yummy Fluffy Pancakes'),
 (5013, 'Easy Tzatziki Sauce'),
 (28155, 'Instant Rolls'),
 (23205, "Mama's Summer Squash Casserole"),
 (4954, "Carol's Baked Ziti Casserole"),
 (13705, 'Rice Cooker Super Cheesy Polenta'),
 (10653, "Win's Shrimp and Spaghetti"),
 (3696, 'Johnsonville(R) Italian Meatballs'),
 (416, 'Quick and Easy Peach Cobbler'),
 (4474, 'Ranch Burgers'),
 (23537, 'Lemon Pepper Zucchini'),
 (6323, 'Bloody Mary Mix'),
 (1095, 'Zucchini-Chocolate Chip Muffins'),
 (103, 'Quick Beef Stir-Fry')]