<div style="line-height:18px;">
    <img src="Figuras/ICMC_Logo.jpg" alt="ICMC" width=100>&emsp;&emsp;&emsp;
    <img src="Figuras/Gbdi2005.jpg" alt="GBdI" width=550><br>
    <font color="black" size="5" face="Georgia">&emsp; <i><u>Prof. Dr. Caetano Traina Júnior</u></font><br>
    <font color="black" size="4" face="Georgia">&emsp; &ensp;<i>ICMC-USP São Carlos</font>
<div align="right"><font size="1" face="arial" color="gray">23 cel</font></div>
    </div><br>

<font size="6" face="verdana" color="green"><b>Preparação das tabelas da Base de dados <u>Alunos15</u></b></font>

<br>

<img src="Figuras/ChatGPT Alunos-1-Axata.png" width=900/>

<br>

<font size=5>Motivação: Carregar a Base de Dados `Alunos15`</font>

**Objetivo:** Preparar o ambiente para explorar comandos básicos da linguagem SQL,\
    usando uma &nbsp; <i>toy database</i> &nbsp; como exemplo, contendo dados de matrículas de 15 alunos:\
    a base de Dados `Alunos15`<br>

__Atividades:__ 
 * Instalar os pacotes de Python que serão usados nos exercícios;
 * Ganhar familiaridade com o SGBDR &nbsp; <img src="Figuras/Postgres.png" width=130/>.
 * Preparar a base de dados `Alunos15` criando seis tabelas no SGBD &nbsp; <img src="Figuras/Postgres.png" width=100/>
 * Carregar dados sobre 15 alunos nessa base;
 * Explorar algumas informações interessantes do Meta-esquema do SGBD  

<br><br>

----

<br><br>

# 1. Instalar os pacotes necessários

Assumimos aqui que já estão instalados os ambientes:
  * <font size="3" face="verdana" color="blue">Python</font>:\
    Interpretador disponível em:
        https://www.python.org/downloads/ \
		&emsp; &emsp; X Disable path limit
  * <font size="3" face="verdana" color="blue">Jupyter-Lab</font>:\
   	`pip install jupyterlab`
  * <font size="3" face="verdana" color="blue">Postgres</font>:\
   	Download Postgres EDB: https://www.enterprisedb.com/downloads/postgres-postgresql-downloads \
    os _defaults_ são:\
			&emsp; &emsp; `Passwd: pgadmin`\
			&emsp; &emsp; `Port: 5432`\
			&emsp; &emsp; `Locale: system default`\
			&emsp; &emsp; `Lauch Stackbuilder: no`


Nos exercícios, são necessários os módulos:
  * `sqlalchemy`   para estabelecer conexões entre o ambiente Python e um servidor de bases de dados.
  * `psycopg2`     ou `psycopg3` para acessar o SGBD <img src="Figuras/Postgres.png" width=100>.
  * `jupysql`  para habilitar as _"mágicas"_ `%sql` e `%%sql`que rodam comandos SQL no ambiente Jupyter/IPython.\
    &emsp; &emsp; &emsp; <a href="https://jupysql.ploomber.io/">(Veja a documentação das mágicas nativas)</a>
  * `ipywidgets`   para interadores para experimentar  consultas com parâmetros.

Esses módulos podem ser instalados com os seguintes comandos:\
<font color="red"> Atenção: Está célula deve ser executada uma vez só para toda a disciplina, e apenas para os módulos ainda não instalados.</font>

pip install sqlalchemy
pip install psycopg2
pip install jupysql
pip install ipywidgets

<br><br>

----

<br>

## 1.1 Carregar os módulos que serão usados no _Notebook_ 

Os módulos devem ser carregados antes de serem usados, mas podem ser carregados em qualquer lugar do _Notebook_.\
No entanto, por uma questão de legibilidade, é interessante que sejam carregados logo no início, de preferência na primeira célula do _notebook_.

Os comandos seguintes carregam os módulos necessários, incluindo aqueles que estabelecem a conexão com uma base.\

In [ ]:
############## Importar os módulos necessários para o Notebook:
from ipywidgets import interact       ##-- Interactors
import ipywidgets as widgets          #---
from sqlalchemy import create_engine  ##-- Habilita as conexões com a base. Ativa jupysql e psycopgX


<br><br><br>

----

<br>

# 2. Conectar com uma base de dados

Quando <img src="Figuras/Postgres.png" width=100/> é instalado, ele cria uma base de dados _default_, vazia, chamada `Postgres`.\
Aqui vamos estabelecer a conexão com a base _default_.

Para estabelecer uma conexão com uma base de dados, sempre é necessário fornecer os seguintes parâmetros:\
(em qualquer aplicativo)
  * host:        Endereço IP do servidor; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; (_default_: `localhost`)
  * port:        Número da porta onde o servidor está atendendo;  &emsp; &emsp; &emsp; (_default_: `5432`)
  * database:    Nome da base de dados (que é gerenciada pelo servidor) que se deseja acessar; &emsp;  (_default_: `postgres`)
  * username:    Identificador do usuário;  &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; (_default_: `postgres`)
  * password:    _ Password_ do usuário.   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; (_default_: `pgadmin`)

O módulo `SQLAlchemy` pode se conectar com diversas 'marcas' de SGBDs.\
Por isso, ele requer dois parâmetros adicionais:
  * driver: qual é o _driver_ que faz a conexão com o SGBD\
    * No caso de <img src="Figuras/Postgres.png" width=100/>, o _driver_ é `postgres`, indicando que deve ser usado o `psycopg2`;
  * dialect: o dialeto de SQL usado.  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  (aqui usamos `postgres`)

O módulo `SQLAlchemy` estabelece uma conexão recebendo esses parâmetros em uma _string_ no formato:\
&emsp; &emsp; &emsp;  %sql dialect+driver://username:password@host:port/database

A conexão com a base _default_ pode portanto ser estabelecida com os seguintes comandos:

In [ ]:
############## Conectar com um servidor SQL na base default ###################### --> Postgres.postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres


<br><br>

----

<br>

### 2.1 Enviar um comando para o servidor.

Depois que o <b>servidor</b> está conectado, ele fica "ouvindo" o <b>cliente</b>, esperando pelas consultas a serem submetidas.\
 &emsp; Cada consulta é enviada como uma _string_, que contém um ou mais comandos em `SQL`, separados por `;`.

Como estamos operando em um `notebook python`, podemos usar 
  * a mágica `%sql` para enviar uma _string_.\
    Essa mágica envia uma _string_ que não contém quebras de linha.\
    (Se houver quebras de linha no fonte, para motivos de formatação, isso deve ser indicado explicitamente\
    &emsp; &emsp; com um caractere `\` finalizando a linha fonte)\
    Essa mágica permite que outros comandos em Python sejam colocados na mesma célula, antes ou depois da mágica.
  * a mágica `%%sql` para enviar uma _string_ que pode conter quebras de linha.\
    A _string_ enviada
     * começa na próxima linha da célula,
     * e vai até o final dela.

Em SQL, o comando fundamental para perguntar algo ao servidor é o comando `SELECT`.\
Em <img src="Figuras/Postgres.png" width=100>, existe uma função que retorna o nome da bases de dados onde o cliente está conectado:\
&emsp; &emsp; &emsp; a função `Current_Database()`.

Portanto, podemos perguntar ao servidor qual a base onde estamos conectados:

In [ ]:
%%sql
SELECT Current_database();

<br>


Essa resposta indica que estamos conectados ao Servidor, acessando a `Base de dados` _default_: `postgres`.

<br><br><br>

----

<br>

# 3. Criar e carregar uma Base de Dados

Antes de carregar uma base de dados, é necessário definir a(s) tabela(s) que irá compor a base de dados, usando, entre outros, comandos `CREATE TABLE`.

<table align="left"><tr>
  <td width="750"><div class="alert alert-block alert-info"><font face="georgia", size=3>
    <font size="4">&#128073;&#127997;</font> Quando é possível que alguma tabela já exista, é interessante usar a opção 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">IF NOT EXISTS</font>,
      pois caso a tabela exista, pedir para criá-la irá gerar um erro que aborta a transação, e nenhum comando da transação será executado.<br>
      &emsp;&emsp; Também podemos solicitar explicitamente que a tabela seja apagada antes com o comando 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">DROP TABLE</font>,
      e aqui também é interessante usar a opção
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">IF EXISTS</font>, 
      para evitar erro caso a tabela não exista!<br><br>
    &#9989; Por outro lado, lembre-se que uma vez que o comando é executado corretamente, cada tabela criada se torna persistente e continua a existir na base de dados até ser explicitamente removida.<br><br>
    &#9989; Caso exista algum objeto que dependa de uma tabela que deve ser removida (por exemplo, uma 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> VIEW </font> ou uma 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> TRIGGER </font>), então a opção
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> CASCADE </font> pode ser interessante, para forçar que tais objetos sejam removidos também.
    </font></div>
  </td></tr>
</table>
 
<br><br><br><br><br><br><br><br><br><br><br><br><br>

  Em um <font size="3" face="arial" style="background-color:#E4E0E0;" color="#050505"> Jupyter Notebook </font>, é sempre aconselhável usar a opção de apagar e recriar cada tabela, pois é frequente que as células sejam re-executadas.
    
<br><br>

Todas as informações de um empreendimento devem estar em uma __Base de Dados__.
Podemos 
  * carregar os dados diretamente nessa base de dados _default_,
  * ou criar uma outra base, específica para conter apenas os dados que vamos usar.

Como é recomendável ter sempre os dados de uma aplicação juntos mas isolados dos dados das outras aplicações,\
 <font size="5">&emsp; &#9758;</font> vamos seguir a segunda alternativa, e criar uma nova base de dados vazia, à qual chamaremos de\
 &emsp; &emsp; &emsp; Base <big>`Alunos15`</big>

Isso é feito com um comando específico de SQL, \
&emsp; &emsp; &emsp; o comando `CREATE DATABASE <nome> <parâmetros>;`.\
Vamos criar essa base de dados.

<br>

No entanto, os comandos para apagar e recriar uma base de dados devem ser executados numa transação única.\
As mágicas `%sql` e `%%sql` operam por _default_ abrindo e fechando uma transação para cada comando emitido para o servidor, o que é chamado `Auto Commit`.

Isso dá conflito para a criação de uma base de dados, e portanto é necessário antes pedir para o `Notebook` operar sem `Auto Commit`.<br>
&emsp; <font size="5">&#9758;</font> Isso é feito usando uma __mágica nativa__ do ambiente de mágicas do `Jupyter-lab`: `%config`%%sql

A seguir, são executados os comandos numa única transação,<br>
e logo a seguir o auto-commit deve ser reabilitado , para voltar à operação normal do _Notebook_.

<br><br>

## 3.1. Criar uma Base de Dados

Para executar este _notebook_, é necessário que a base `Alunos15` já exista, nem que ela esteja vazia, para que o comando possa permitir a conexão com ela.<br><br>

Vamos garantir que alguma base com o nome `alunos15` já não exista, apagando se ela já existir.<br>
Estamos fazendo isso porque, num ambiente de <i>Notebook</i>s, é comum reexecutá-lo várias vezes, e escrever os comandos dessa maneira evita erros nas reexecuções.<br>
<font size="3" color="red">
    Mas veja que num ambiente de produção, <u>criar e apagar bases de dados é muito raro!</u></font>

<div class="alert alert-block alert-info">
    <font size="5">&#x26A0;</font> Atenção: a opção <font face="courier" color="black"> WITH (FORCE)</font> usada na célula seguinte é radical:<br>
    ela fecha qualquer outra conexão que possa haver na base, e numa situação real, com outros usuários acessando a base concorrentemente, pode ter consequências imprevisíveis.<br>
    Estou usando aqui para garantir que outro aplicativo que possa estar sendo usado em paralelo (tipo `PSQL` ou `PGAdmin`) não interfira no processo.<br>
    <font color="red"><font size="6">&emsp; &#9758;</font> Mas num ambiente de produção, esse recurso tem que ser usado com muiiito cuidado!</font>
    </div>

<br><br>

Para criar a base de dados, vamos pedir para que o sistema opere sem `Auto Commit`, <br>
e finalizar qualquer transação corrente que possa estar aberta e criar a nova base.

In [ ]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False

In [ ]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS alunos15 WITH (FORCE);
COMMIT;
CREATE DATABASE alunos15
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

Se não houve erro, a nova base de dados está criada, vazia!

Antes de continuar, vamos restaurar a conexão do `Notebook` com o servidor para operação normal,\
re-habilitando o `Auto-commit` entre comandos SQL:

In [ ]:
## Reabilitar o Autocommit:
%config SqlMagic.autocommit=True


<br><br>

----

<br>

Com a base criada, podemos nos conectar nela, transferindo o acesso <i>default</i>:\
&emsp; &#9758; note que as demais continuam podendo ser acessadas explicitamente, qualificando as tabelas: `postgres.nome`.

Para isso, criamos uma nova conexão com o servidor, agora conectando à base de dados `Alunos15`:

In [ ]:
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/alunos15')
%sql postgresql://postgres:pgadmin@localhost/alunos15

<br>

Vamos verificar qual a base que estamos conectados agora.\
Para isso, perguntamos novamente ao servidor: `SELECT Current_Database();`

A primeira vez que fizemos isso, já usamos a mágica `%%sql`.\
Para ver a diferença, vamos usar agora  a mágica `%sql`: colocamos tudo numa linha só.

In [ ]:
%sql SELECT Current_Database();

In [ ]:
%sql SELECT CONCAT('Hello')

Veja que o resultado de um comando SQL é também uma _string_, <br>
que a mágica `%sql` entende como um tipo de dados `sql ResultSet` de python.<br>
Como em qualquer célula do _Notebook_, o resultado do último comando executado nela é impresso no final.

Se algum outro comando for executado depois da mágica `%sql` nessa célula, o resultado é perdido.<br>
Mas podemos armazenar o resultado numa variável em Python com a diretiva `<<`:

In [ ]:
%sql DB << SELECT Current_Database();
print('\n  Conexão default:')
print(DB)
print('Tipo da resposta:', type(DB))


<br><br><br>

----

<br>

## 3.2. Criar tabelas em uma Base de Dados

Antes de carregar uma base de dados, é necessário definir a(s) tabela(s) que irão compor a base de dados, usando, entre outros, comandos `CREATE TABLE`.

<div class="alert alert-block alert-info"> 
    &#x26A0; Caso alguma tabela possa já existir é interessante usar a opção 
        <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">IF NOT EXISTS</font>, <br>
    pois caso alguma tabela exista, irá ocorrer um erro que aborta a transação, e nenhum comando dessa transação será executado.<br>
    &emsp;&emsp;Também podemos solicitar explicitamente que a tabela seja apagada antes com o comando 
        <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">DROP TABLE</font>,<br>
    &emsp; &emsp; &emsp; e é interessante aqui também usar a opção 
      <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">IF EXISTS</font>, para evitar erro caso a tabela não exista!<br><br>
    &#x26A0; Por outro lado, lembre-se que uma vez executado corretamente, cada tabela criada se torna persistente e continua a existir na base de dados até ser explicitamente removida.<br><br>
    &#x26A0; Caso exista algum objeto que dependa de uma tabela (por exemplo uma 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> VIEW </font> ou uma 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> TRIGGER), </font>
       então a opção<br>
    &emsp; &emsp; &emsp; <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> CASCADE </font> pode ser interessante, para remover também tais objetos
    </div>
<br>

Em um ambiente de experimentação como é o caso de um <font size="3" face="arial" style="background-color:#E4E0E0;" color="#050505"> Jupyter Notebook </font>, <br>
&emsp;é aconselhável sempre usar a opção de apagar e recriar cada tabela,<br>
&emsp; &emsp; <font size="5">&#9758;</font> pois em um ambiente de experimentação, é frequente re-executar as células.
    
<br>

<font color="red"><font size="6">&emsp; &#9758;</font> Mas veja que estamos fazendo isso para poder executar e reexecutar as células do
    `Notebook`.\
&emsp; &emsp; &emsp; &emsp; Num ambiente de produção, esses recursos normalmente não devem ser usados!</font>

In [ ]:
%%sql
DROP TABLE IF EXISTS Professor CASCADE;
CREATE TABLE Professor(
    Nome        VARCHAR(40) NOT NULL,
    NNfuncional CHAR(7)     NOT NULL,
    Nivel       CHAR(7),
    Formacao    VARCHAR(20),
    Cidade      VARCHAR(30),
    Idade       DECIMAL(2)
    );

DROP TABLE IF EXISTS Aluno CASCADE;
CREATE TABLE Aluno(
    Nome        VARCHAR(40) NOT NULL,
    NUSP        DECIMAL(8)  NOT NULL,
    Idade       DECIMAL(2),
    Cidade      VARCHAR(30),
    Curso       VARCHAR(15)
    );
    
DROP TABLE IF EXISTS Turma CASCADE;
CREATE TABLE Turma(
    Sigla       CHAR(7)     NOT NULL,
    Numero      DECIMAL(2)  NOT NULL,
    Codigo      DECIMAL(4)  NOT NULL,
    Ano         Decimal(4),
    NNalunos    DECIMAL(3)
    );

DROP TABLE IF EXISTS Discip CASCADE;
CREATE TABLE Discip(
    Sigla       CHAR(7)     NOT NULL,
    Nome        VARCHAR(25) NOT NULL,
    Siglaprereq CHAR(7),
    NNcred      DECIMAL(2)  NOT NULL
    );

DROP TABLE IF EXISTS Matricula CASCADE;
CREATE TABLE Matricula(
    Codigoturma DECIMAL(4)  NOT NULL,
    NUSP        DECIMAL(8)  NOT NULL,
    Nota        DECIMAL(3)
    );

DROP TABLE IF EXISTS HoraTurma CASCADE;
CREATE TABLE HoraTurma(
    Sigla       CHAR(7),
    Numero      DECIMAL(2),
    Dia         Char(7),
    Horario     DECIMAL(2)
    );

DROP TABLE IF EXISTS Ministra CASCADE;
CREATE TABLE Ministra(
    NNfuncprof  CHAR(7)     NOT NULL,
    Codigo      DECIMAL(4)  NOT NULL,
    Livro       VARCHAR(50)
    );

<br><br>
Quando as tabelas são criadas, em geral é interessante declarar também as restrições de integridade, como as 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> Chaves primárias (PRIMARY KEY) e candidatas (UNIQUE). </font>

Quando os dados vão ser carregados logo em seguida, se não houver garantia que os dados garantem essas restrições, é melhor fazer a carga com elas não declaradas, e declará-las depois, pois caso contrário, alguma tupla errada pode cancelar toda a carga.

<br><br>

## 3.3. Carregar os dados nas tabelas

Vamos carregar essa base apenas algumas poucas tuplas para servirem de exemplo e ao mesmo tempo ser de entendimento fácil.\
Quando a quantidade é pequena como agora, podemos inserir cada tupla diretamente com um \
&emsp; &emsp; &emsp; comando 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">&nbsp; INSERT INTO &nbsp;</font>\
    inserindo na base um registro de `aluno`, de `professor`, etc. por comando.
    
O exemplo da _toy database_ usado em sala de aula é carregado com os seguintes dados:

In [ ]:
%%capture

%%sql
INSERT INTO Professor VALUES ('Ari',     '1111', 'MS-1', 'Matemática', 'Rio Claro', 25);
INSERT INTO Professor VALUES ('Adao',    '2222', 'MS-2', 'Computação', 'Ibitinga', 30);
INSERT INTO Professor VALUES ('Anselmo', '3333', 'MS-2', 'Computação', 'Sao Carlos', 31);
INSERT INTO Professor VALUES ('Amalia',  '8888', 'MS-3', null, null, 39);
INSERT INTO Professor VALUES ('Ana',     '4444', 'MS-3', 'Elétrica', 'Sao Paulo', 31);
INSERT INTO Professor VALUES ('Alice',   '5555', 'MS-3', 'Física', 'Araras', 35);
INSERT INTO Professor VALUES ('Amauri',  '6666', 'MS-3', 'Elétrica', 'Sao Carlos', 34);
INSERT INTO Professor VALUES ('Artur',   '7777', 'MS-4', 'Computação', 'Sao Carlos', 41);
INSERT INTO Professor VALUES ('Adriana', '9999', 'MS-5', 'Computação', 'Araraquara', 45);

INSERT INTO Aluno VALUES ('Carlos',   1234, 21, 'Sao Carlos', 'Computação');
INSERT INTO Aluno VALUES ('Celso',    2345, 22, 'Sao Carlos', 'Computação');
INSERT INTO Aluno VALUES ('Cicero',   3456, 22, 'Araraquara', 'Matemática');
INSERT INTO Aluno VALUES ('Carlitos', 4567, 21, 'Ibitinga', 'Computação');
INSERT INTO Aluno VALUES ('Catarina', 5678, 23, 'Sao Carlos', 'Elétrica');
INSERT INTO Aluno VALUES ('Cibele',   6789, 21, 'Araraquara', 'Computação');
INSERT INTO Aluno VALUES ('Corina',   7890, 25, 'Rio Claro', 'Matemática');
INSERT INTO Aluno VALUES ('Celina',   8901, 27, 'Sao Carlos', 'Computação');
INSERT INTO Aluno VALUES ('Celia',    9012, 20, 'Rio Claro', 'Computação');
INSERT INTO Aluno VALUES ('Cesar',    9123, 21, 'Araraquara', 'Elétrica');
INSERT INTO aluno VALUES ('Denise',   4584, 35, 'Ibate', 'Matemática');
INSERT INTO aluno VALUES ('Durval',   1479, null, null, 'Computação');
INSERT INTO Aluno VALUES ('Daniel',   1489, 19, 'Campinas', 'Computação');
INSERT INTO aluno VALUES ('Dora',     1469, 24, null, 'Geografia');
INSERT INTO aluno VALUES ('Dina',     1459, null, 'Campinas');

INSERT INTO Turma VALUES ('SCE-179', 1, 100, 2024, 30);
INSERT INTO Turma VALUES ('SMA-179', 1, 101, 2023, 25);
INSERT INTO Turma VALUES ('SMA-179', 2, 102, 2024, 30);
INSERT INTO Turma VALUES ('SCE-200', 1, 103, 2023, 30);
INSERT INTO Turma VALUES ('SCE-200', 2, 104, 2024, 60);
INSERT INTO Turma VALUES ('SCE-200', 3, 105, 2024, 35);

INSERT INTO Discip VALUES ('SCE-179', 'Base de Dados',      'SMA-179', 4);
INSERT INTO Discip VALUES ('SMA-179', 'Algebra',                   '', 3);
INSERT INTO Discip VALUES ('SCE-200', 'Lab. Base de Dados', 'SCE-179', 4);

INSERT INTO HoraTurma VALUES ('SCE-179', 1, 'Segunda', 8);
INSERT INTO HoraTurma VALUES ('SCE-179', 1, 'Quarta', 8);
INSERT INTO HoraTurma VALUES ('SMA-179', 1, 'Segunda', 10);
INSERT INTO HoraTurma VALUES ('SMA-179', 1, 'Quarta', 8);
INSERT INTO HoraTurma VALUES ('SMA-179', 1, 'Sexta', 14);
INSERT INTO HoraTurma VALUES ('SMA-179', 2, 'Segunda', 10);
INSERT INTO HoraTurma VALUES ('SMA-179', 2, 'Quarta', 10);
INSERT INTO HoraTurma VALUES ('SMA-179', 2, 'Sexta', 16);
INSERT INTO HoraTurma VALUES ('SCE-200', 1, 'Terça', 8);
INSERT INTO HoraTurma VALUES ('SCE-200', 2, 'Terça', 10);
INSERT INTO HoraTurma VALUES ('SCE-200', 3, 'Terça', 12);

INSERT INTO Matricula VALUES (100, 1234, 8);
INSERT INTO Matricula VALUES (100, 2345, 9);
INSERT INTO Matricula VALUES (100, 4567, 7);
INSERT INTO Matricula VALUES (100, 8901, 4);
INSERT INTO Matricula VALUES (100, 9123, 9);
INSERT INTO Matricula VALUES (100, 3456, 7);
INSERT INTO Matricula VALUES (100, 9012, 6);
INSERT INTO Matricula VALUES (101, 2345, 4);
INSERT INTO Matricula VALUES (101, 3456, 2);
INSERT INTO Matricula VALUES (101, 2344, 3);
INSERT INTO Matricula VALUES (101, 4567, 4);
INSERT INTO Matricula VALUES (101, 6789, 6);
INSERT INTO Matricula VALUES (101, 7890, 10);
INSERT INTO Matricula VALUES (101, 8901, 3);
INSERT INTO Matricula VALUES (101, 9012, 9);
INSERT INTO Matricula VALUES (101, 1234, 9);
INSERT INTO Matricula VALUES (102, 2345, 7);
INSERT INTO Matricula VALUES (102, 3456, 9);
INSERT INTO Matricula VALUES (102, 4567, 10);
INSERT INTO Matricula VALUES (102, 5678, 7);
INSERT INTO Matricula VALUES (102, 9123, 9);
INSERT INTO Matricula VALUES (102, 8901, 9);
INSERT INTO Matricula VALUES (104, 2345, 7);
INSERT INTO Matricula VALUES (104, 3456, 10);
INSERT INTO Matricula VALUES (104, 4567, 4);
INSERT INTO Matricula VALUES (104, 6789, 5);
INSERT INTO Matricula VALUES (104, 7890, 9);
INSERT INTO Matricula VALUES (104, 8901, 8);
INSERT INTO Matricula VALUES (104, 9012, 9);
INSERT INTO Matricula VALUES (104, 1234, 4);
INSERT INTO Matricula VALUES (104, 5678, 8);
INSERT INTO Matricula VALUES (104, 9123, 7);
INSERT INTO Matricula VALUES (105, 4567, 7);
INSERT INTO Matricula VALUES (105, 1459, 0);
INSERT INTO Matricula VALUES (105, 1469, 0);
INSERT INTO Matricula VALUES (105, 1479, null);
--INSERT INTO Matricula VALUES (105, 1489, null);

INSERT INTO Ministra VALUES ('1111', 100, 'Database Intro');
INSERT INTO Ministra VALUES ('1111', 103, 'Bases de Dados na Pratica');
INSERT INTO Ministra VALUES ('2222', 101, 'Algebra para Todos');
INSERT INTO Ministra VALUES ('3333', 100, 'Database Intro');
INSERT INTO Ministra VALUES ('3333', 103, 'Bases de Dados na Pratica');
INSERT INTO Ministra VALUES ('3333', 104, 'Bases de Dados na Pratica');
INSERT INTO Ministra VALUES ('3333', 102, 'Algebra Moderna');
INSERT INTO Ministra VALUES ('4444', 100, 'Database Intro');
INSERT INTO Ministra VALUES ('4444', 105, 'Bases de Dados');
INSERT INTO Ministra VALUES ('5555', 101, 'Algebra para Todos');
INSERT INTO Ministra VALUES ('5555', 102, 'Algebra Moderna');
INSERT INTO Ministra VALUES ('6666', 104, 'Introducao a bases de dados');
INSERT INTO Ministra VALUES ('7777', 101, 'Algebra Moderna');
INSERT INTO Ministra VALUES ('7777', 102, 'Algebra para Todos');
INSERT INTO Ministra VALUES ('9999', 100, 'Database Intro');


<br>

Veja que, como não declaramos as restrições de integridade, se esse comando for repetido, as tuplas são todas re-inseridas e ficam duplicadas nas tabelas!

<br>

Note o primeiro comando desta célula: `%%capture`\
Ele é uma outra "_mágica_" nativa dos `Notebook Jupyter-Lab`, que _captura_ os dados enviados\
para ` stdout`e `stderr` de cada célula.\
Isso evita que o resultado de cada comando seja impresso na saída.\
Aqui ela evita uma longa listagem dos muitos comandos contidos nesta célula.

<br>

Vamos criar uma `VIEW` para definir os níveis dos `Professores`:\
&emsp;<font color="red">Veja que as considerações sobre essa `VIEW` já existir também valem aqui.</font>

In [ ]:
%%sql
DROP VIEW IF EXISTS Niveis;
CREATE VIEW Niveis (Nivel, Titulo) AS
    VALUES ('MS-1', 'Auxiliar'), 
           ('MS_2', 'Mestre'),
           ('MS-3', 'Doutor'), 
           ('MS-5', 'Livre docente'),
           ('MS-6', 'Titular');

Quando uma base de dados recebe muitas alterações,\
 &emsp; (como é o caso aqui)\
o SGBD deve recuperar as "estatísticas" (métricas) a respeito do estado atual da base.\

Em <img src="Figuras/Postgres.png" width=120/>, isso deve ser feito como uma transação independente, com o comando `VACUUM [ANALYZE]`:

Então vamos, novamente:
  * desabilitar o auto-commit,
  * executar o comando 'VACUUM' dentro de uma transação,
  * encerrar a transação, e
  * re-habilitar o auto-commit

In [ ]:
%config SqlMagic.autocommit=False
%sql  COMMIT;  VACUUM;  COMMIT;
%config SqlMagic.autocommit=True

<br><br>

# 4. Explorar rapidamente o que tem na base de dados

As tabelas usadas nos exemplos são: `Alunos`, `Discip`, `Turma`, `Matricula` e `Professor`.<br>

Vamos usar as tabelas do <b>Meta-Esquema</b> do SGBD para verificar a quantidade de atributos e de tuplas dessas tabelas:

In [ ]:
%%sql
SELECT TC.RelName, TC.RelNatts, SchemaName,                    -- --> Nome da relação, número de atributos e esquema onde está definida
       TC.RelTuples::INT, TC.RelPages                          -- --> Quantidade de tuplas e quantidade de páginas em disco
    FROM pg_catalog.pg_tables TN JOIN Pg_Class TC ON TN.TableName=TC.RelName
    WHERE RelName !~'(pg_)|(sql_)'
    --IN ('alunos', 'discip', 'turma', 'matricula', 'professor')
    ORDER BY 1;

<br>

Essa base é bem pequena...  Cada tabela ocupa apenas uma página de disco (de 8KBytes)\
Todas as tabelas estão no esquema <i>default</i>: `Public`

Vamos ver as tuplas das tabelas `Alunos` e `Disciplinas`:

In [ ]:
%sql  tabAluno << SELECT * FROM Aluno;
print('\nAluno:\n', tabAluno, sep='')
%sql  tabDiscip << SELECT * FROM Discip;
print('\nDiscip:\n', tabDiscip, sep='')

<br>

Os alunos não se matriculam diretamente nas disciplinas, mas sim nas turmas criadas para cada disciplina.\
Pode haver mais de uma turma para cada disciplina.

In [ ]:
%sql  tabTurma << SELECT * FROM Turma;
print('\nTurma:\n', tabTurma, sep='')
%sql  tabMatricula << SELECT * FROM Matricula;
print('\nMatricula:\n', tabMatricula, sep='')

<br>

Portanto, para listar as notas que um dado aluno tirou em todas as disciplinas, é necessário 'juntar' essas __4__ tabelas:

In [ ]:
%%sql
SELECT A.Nome, D.Nome, M.Nota, A.NUSP
    FROM Aluno A JOIN Matricula M ON A.NUSP=M.NUSP
                 JOIN Turma T ON M.CodigoTurma=T.Codigo
                 JOIN Discip D ON T.Sigla=D.Sigla
    WHERE M.Nota>=5
    ORDER BY A.Nome, D.Nome
    LIMIT 10;

<br><br>
## 4.1. Explorar algumas tabelas do <b>Meta-esquema do <img src="Figuras/Postgres.png" width=120/></b>

<br>

### 4.1. A tabela `PG_Class`:
A principal tabela para acessar as informações do <b>Meta-Esquema</b> de uma base de dados é a `PG_Class`.\
Ela tem as principais informações sobre as `tabelas`, `visões`, `índices` e demais objetos que podem ser generalizados como uma tabela.
Alguns dados interessantes são:
 * `OId:` o identificador interno da tabela
 * `RelName:` o nome da tabela
 * `RelNameSpace:` o nome do esquema ('NameSpace') onde o nome do objeto está definido (referencia `PG_NameSpace.OId`)
 * `RelKind:` o tipo do objeto: 'r'=tabela, 'i'=índice, 'v'=visão, 'm'=visão materializada, etc.
 * `RelAM:` organização do objeto  (referencia `PG_AM.OId`).\
   Se for tabela, se a armazenagem é por tupla ou colunar; se for índice, a estrutura de dados (b-tree, hash, r-tree, etc.)
 * `RelPages:` quantidade de páginas de 8KBytes ocupadas em disco
 * `RelTuples:` quantidade de tuplas armazenadas
 * `RelNAtts:` quantidade de atributos em cada tupla, sem contar os atributos de sistema.
   A tabela `PG_Attribute` contém as informações sobre cada um dos atributos

Por exemplo:

In [ ]:
%%sql
SELECT OId, RelName, RelKind, RelNameSpace, RelAM, RelPages, RelTuples, RelNAtts
    FROM PG_Class
    WHERE RelName='aluno' OR RelName='professor';

Quando um atributo se referencia a um objeto em outra tabela, podemos buscar as informações desse objeto na tabela correspondente.

<br>

### 4.2. A tabela `PG_NameSpace`
Por exemplo, o `NameSpace` de uma tabela é o esquema onde ele está definido.\
Podemos obter as informações sobre o esquema onde a tabela `Aluno` está definida olhando a relação referenciada: `pg_namespace':

In [ ]:
%%sql
SELECT C.RelName, S.*
    FROM PG_Class C JOIN PG_NameSpace S ON C.RelNameSpace = S.OId
    WHERE C.RelName='aluno' OR C.RelName='professor';

<br>

Se quisermos ver todos os esquemas da base de dados com todos os seus atributos, podemos solicitar:

In [ ]:
%%sql
SELECT S.*
    FROM PG_NameSpace S;

Veja que além do esquema público, existem os esquemas internos do próprio <img src="Figuras/Postgres.png" width=120/>

Se quisermos ver todos os esquemas definidos pelo usuário (incluindo o esquema `Public`) podemos filtrar:
 - os esquemas de trabalho do <img src="Figuras/Postgres.png" width=120/> (`LIKE 'pg\_%'`) e
 - o esquema padrão <img src="Figuras/ISO-Logo.png" width=35/> (`LIKE 'Information\_schema'`).

<br>

Filtrando usando uma Expressão Regular independente da caixa da letra (`~*`), o comando fica:

In [ ]:
%%sql
SELECT S.*
    FROM PG_NameSpace S 
    WHERE NspName !~*'(pg_)|(Information_schema)';

<br>

### 4.3. A tabela `PG_Attribute`

As informações sobre cada atributo de uma tabela estão na relação `PG_Attribute`.\
Dentre as mais interessantes estão:
 * 'AttRelId:' identifica a tabela (em `PG_Class.Oid`) que contém esse atributo
 * 'Attname:' o nome do atributo
 * 'AttNum:' Posição ordinal desse atributo na tabela
 * 'AttLen:' Número de bytes que esse atributo ocupa na tupla. -1 se for variável
 * 'AttTypId:' o identificador do tipo de dados do atributo (referencia PG_Type.OId)
 
Por exemplo:

In [ ]:
%%sql
SELECT C.RelName, A.AttRelId, A.AttName, A.AttNum, A.AttLen, A. AttTypId, T.TypName
    FROM Pg_Class C JOIN Pg_Attribute A ON C.OID = A.AttRelId
                    JOIN Pg_Type T      ON A.AttTypId=T.OID
    WHERE (C.RelName = 'aluno' OR C.RelName = 'matricula')
      AND A.AttNum>0   -- AttNum<0 ==> Atributo de sistema
    ORDER BY 1,4;

<br><br>

A documentação das tabelas do <b>Meta-esquema</b> pode ser encontrada no manual do <img src="Figuras/Postgres.png" width=120/> em:\
https://www.postgresql.org/docs/current/catalogs.html

<br><br>
<font size="5" face="verdana" color="green">
     <b>Preparação das tabelas da Base de dados <u>Alunos15</u></b>
    </font><br>

<font size="10" face="verdana" color="red">
    <img src="Figuras/ICMC_Logo.jpg" alt="ICMC" width=70>&emsp;&emsp;&nbsp;
    <b>FIM</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="Figuras/Gbdi2005.jpg" alt="GBdI" width=400>
    </font>

<br>

<img src="Figuras/ChatGPT Alunos-2 16x9.png" width=900/>