# Autores

| Nome | nUSP |
| :--- | :--- |
| Guilherme de Abreu Barreto | 12543033 |
| Lucas Eduardo Gulka Pulcinelli | 12547336 |
| Vinicio Yusuke Hayashibara | 13642797 |

# Configuração

É necessário o ao correto funcionamento deste projeto possuir uma instalação local de PostgreSQL e atribuir os valores correspondentes para acesso a este nas seguintes constantes:

- `DATABASE`: O nome do database onde serão carregadas as informações. Atente-se se este não corresponde ao nome de um database preexistente **ou que esteja sendo acessado**, pois este será então sobrescrito.

- `USER` e `PASSWORD`: Informações de autententicação válidas e com privilégios para a criação de bancos de dados no servidor.

- `HOST` e `PORT`: A URL e porta para realização do acesso ao servidor.

- `BATCH_SIZE`: O número máximo de operações sobre o BD a serem realizadas conjuntamente. Recomenda-se ser em um número o qual caiba na memória RAM que você dispõe. O número abaixo foi capaz de caber confortávelmente em 10 GiB de RAM **na minha máquina**.

In [6]:
DATABASE = "postgres"
USER = "postgres"
PASSWORD = "postgres"
HOST = "hydra"
PORT = 5432

DATABASE_URI = f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}/{DATABASE}"

## Carregamento das dependências deste projeto

In [7]:
import sys
!{sys.executable} -m pip install "sqlalchemy[postgres]" psycopg2-binary tqdm pandas ipython-sql matplotlib ipywidgets seaborn

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.13/site-packages (2.9.11)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.13/site-packages (4.67.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.13/site-packages (3.10.7)
Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.13/site-packages (8.1.7)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: sqlalchemy[postgres] in /opt/conda/lib/python3.13/site-packages (2.0.43)
WARNING: sqlalchemy 2.0.43 does not provide the extra 'postgres'
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy[postgres]) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy[postgres]) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.13/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (9.5.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: comm>=0.1.3 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (0.2.3)
Requirement already satisfied: traitlets>=4.3.1 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.14 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (4.0.14)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (3.0.15)
Requirement already satisfied: decorator in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.13/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.13/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.13/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [8]:
import matplotlib.pyplot as plt
from ipywidgets import interact
import ipywidgets as widgets
import seaborn as sns
import enum
import pandas as pd
import pandas.io.sql as psql
import re
from datetime import datetime, date
from sqlalchemy import (
    CheckConstraint as constraint,
    Enum,
    Date,
    ForeignKey as fk,
    String,
    MetaData,
    Table,
    TypeDecorator,
    create_engine,
    column as sql_column,
    insert,
    text,
    PrimaryKeyConstraint as pkc
)
from sqlalchemy.orm import (
    Mapped,
    Session,
    declarative_base,
    relationship,
    sessionmaker,
    mapped_column as column,
    validates,
)
from pathlib import Path
from tqdm import tqdm
from typing import Any, Annotated, final

In [9]:
%load_ext sql

engine = create_engine(DATABASE_URI)
%sql postgresql://postgres:postgres@hydra:5432/postgres
%config SqlMagic.displaylimit=None
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
%%sql
SELECT * FROM pg_available_extensions WHERE name = 'columnar'

 * postgresql://postgres:***@hydra:5432/postgres
1 rows affected.

[('columnar', '11.1-12', '11.1-12', 'Hydra Columnar extension')]

In [20]:
df = pd.read_csv("/datasets/featset/ds-MNIST_NCH128.csv")
df

,OID,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_118,feature_119,feature_120,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127
0,0,0.753827,0.000000,0.001276,0.000000,0.000000,0.003827,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.001276,0.000000,0.000000,0.000000,0.081633,0.047194,0.003827
1,1,0.784439,0.003827,0.001276,0.000000,0.000000,0.002551,0.001276,0.001276,0.001276,...,0.001276,0.003827,0.002551,0.001276,0.002551,0.000000,0.000000,0.001276,0.003827,0.059949
2,2,0.785714,0.001276,0.005102,0.000000,0.001276,0.000000,0.000000,0.001276,0.002551,...,0.001276,0.000000,0.003827,0.000000,0.001276,0.000000,0.001276,0.001276,0.075255,0.005102
3,3,0.658163,0.002551,0.003827,0.000000,0.003827,0.002551,0.000000,0.002551,0.000000,...,0.001276,0.000000,0.001276,0.001276,0.002551,0.001276,0.002551,0.002551,0.191327,0.006378
4,4,0.752551,0.006378,0.005102,0.000000,0.000000,0.000000,0.000000,0.003827,0.002551,...,0.000000,0.001276,0.000000,0.000000,0.001276,0.003827,0.003827,0.000000,0.107143,0.007653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,69995,0.859694,0.002551,0.003827,0.000000,0.006378,0.002551,0.000000,0.003827,0.002551,...,0.000000,0.003827,0.000000,0.002551,0.001276,0.003827,0.001276,0.002551,0.005102,0.011480
69996,69996,0.832908,0.002551,0.002551,0.005102,0.002551,0.001276,0.002551,0.000000,0.000000,...,0.006378,0.001276,0.001276,0.001276,0.000000,0.005102,0.005102,0.002551,0.029337,0.001276
69997,69997,0.831633,0.000000,0.000000,0.003827,0.003827,0.003827,0.002551,0.000000,0.001276,...,0.001276,0.002551,0.001276,0.002551,0.003827,0.002551,0.001276,0.001276,0.034439,0.002551
69998,69998,0.831633,0.006378,0.006378,0.001276,0.001276,0.001276,0.001276,0.002551,0.001276,...,0.002551,0.001276,0.001276,0.005102,0.001276,0.000000,0.002551,0.002551,0.024235,0.002551
69999,69999,0.849490,0.001276,0.001276,0.002551,0.002551,0.002551,0.005102,0.001276,0.002551,...,0.000000,0.001276,0.000000,0.002551,0.000000,0.001276,0.002551,0.001276,0.005102,0.015306

In [ ]:
df.to_sql('featset_heap', engine, index=False)

In [24]:
df.to_sql('featset_columnar', engine, index=False)

172

In [25]:
%%sql
SELECT columnar.alter_table_set_access_method('featseat_heap', 'heap');
SELECT columnar.alter_table_set_access_method('featset_columnar', 'columnar');

 * postgresql://postgres:***@hydra:5432/postgres
1 rows affected.
1 rows affected.

[(True,)]