# Amostragem

## Autores

| Nome | nUSP |
| :--- | :--- |
| Guilherme de Abreu Barreto | 12543033 |
| Lucas Eduardo Gulka Pulcinelli | 12547336 |
| Vinicio Yusuke Hayashibara | 13642797 |

## Enunciado

O exercício se refere à geração de uma amostra de _Exames de Colesterol_ da tabela _Exam_Labs_ dos hospitais que têm desfecho (Esquema D2). Considere a tabela de exames de colesterol criada no notebook `3.1-PrepDadosWindFunc.ipynb` pelo pivotamento de relações,

1. Contabilize quantos exames estão com ao menos um analito _fora_ do seu correspondente valor de referência e quantos estão com todos os analitos _dentro_ dos valores de referência;

2. Gere uma amostragem que contenha 25% dos exames _fora_ e 10% dos exames _dentro_ dos valores de referência.

Considere também que, pra a Sociedade Brasileira de Cardiologia, os analitos estão _dentro_ dos valores de referência quando:

- LDL<130,
- HDL≥40,
- VLDL<30,
- Não HDL<160
- Total<190 mg/DL

## Instalação de dependências

In [9]:
!pip install matplotlib pandas psycopg2-binary sqlalchemy[postgres] ipython-sql ipywidgets

Requirement already satisfied: matplotlib in /opt/conda/lib/python3.13/site-packages (3.10.7)
Requirement already satisfied: pandas in /opt/conda/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.13/site-packages (2.9.11)
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.13/site-packages (8.1.8)
Requirement already satisfied: sqlalchemy[postgres] in /opt/conda/lib/python3.13/site-packages (2.0.43)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (4.61.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (2.3.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.13/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.13/site-packages (from pandas) (2025.2)
WARNING: sqlalchemy 2.0.43 does not provide the extra 'postgres'
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy[postgres]) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy[postgres]) (4.15.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (9.5.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (0.5.4)
Requirement already satisfied: six in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: comm>=0.1.3 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (0.2.3)
Requirement already satisfied: traitlets>=4.3.1 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.14 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (4.0.15)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in /opt/conda/lib/python3.13/site-packages (from ipywidgets) (3.0.16)
Requirement already satisfied: decorator in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.13/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.13/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.13/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.13/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

## Carregamento de dependências e acesso ao BD

In [10]:
############## Importar os módulos necessários para o Notebook:
import matplotlib.pyplot as plt
import pandas.io.sql as psql
import timeit
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na Base postgres ###################### --> Postgres.postgres
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:postgres@postgres:5432/postgres')
%sql postgresql://postgres:postgres@postgres:5432/postgres

%sql DB << SELECT Version();
print(DB)

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * postgresql://postgres:***@postgres:5432/postgres
1 rows affected.
Returning data to local variable DB
+------------------------------------------------------------------------------------------+
|                                         version                                          |
+------------------------------------------------------------------------------------------+
| PostgreSQL 16.10 on x86_64-pc-linux-musl, compiled by gcc (Alpine 14.2.0) 14.2.0, 64-bit |
+------------------------------------------------------------------------------------------+

In [21]:
%%sql
SELECT * 
FROM information_schema.tables
WHERE table_schema = 'd2'

 * postgresql://postgres:***@postgres:5432/postgres
3 rows affected.

[('postgres', 'd2', 'pacientes', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('postgres', 'd2', 'examlabs', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('postgres', 'd2', 'desfechos', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

## Geração da tabela a ser analizada

In [28]:
%%sql
DROP TABLE IF EXISTS "d2".ExamesPivotados;

 * postgresql://postgres:***@postgres:5432/postgres
Done.

[]

In [29]:
%%sql
CREATE TABLE "d2".ExamesPivotados AS
SELECT 
    E.id_paciente,
    E.dt_coleta, 
    E.id_atendimento,
    MAX(E.de_hospital) AS Hospital,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'ldl' AND E.de_analito !~*'vldl') AS LDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'hdl') AS HDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'v.*coles') AS VLDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE E.de_analito ~*'n[aã]o.hdl') AS NaoHDL,
    AVG(E.de_resultado::FLOAT) FILTER(WHERE LOWER(E.de_analito) IN ('colesterol total', 'colesterol')) AS Total,
    MAX(E.cd_unidade) AS Unidade
FROM "d2"."examlabs" E
WHERE E.de_exame ~* 'coleste'
  AND E.de_resultado !~ '[^\d.,+-]'
GROUP BY E.id_paciente, E.dt_coleta, E.id_atendimento;

 * postgresql://postgres:***@postgres:5432/postgres
219698 rows affected.

[]

## _Queries_

A seguir realizamos um par de queries: a primeira serve a contabilizar o número de exames em cada categoria (_dentro_ ou _fora_ dos valores de referência), a segunda seleciona amostras destas conforme proposto pelo enunciado.

In [30]:
%%sql
SELECT 
    COUNT(*) FILTER (
        WHERE (
            LDL<130 
            AND HDL>=40 
            AND VLDL<30 
            AND NaoHDL<160 
            AND Total<190
        )
    ) AS exames_dentro,
    COUNT(*) FILTER (
        WHERE NOT (
            LDL<130 
            AND HDL>=40 
            AND VLDL<30 
            AND NaoHDL<160 
            AND Total<190
        )
    ) AS exames_fora,
    COUNT(*) AS total
FROM D2.ExamesPivotados

 * postgresql://postgres:***@postgres:5432/postgres
1 rows affected.

[(104374, 103792, 219698)]

In [33]:
%%sql
CREATE VIEW amostragem AS (
(
    SELECT *, 'dentro' AS tipo
    FROM D2.ExamesPivotados
    WHERE (
        LDL<130 
        AND HDL>=40 
        AND VLDL<30 
        AND NaoHDL<160 
        AND Total<190
    )
    ORDER BY RANDOM()
    LIMIT (
        SELECT 
        COUNT(*) FILTER (
            WHERE (
                LDL<130 
                AND HDL>=40 
                AND VLDL<30 
                AND NaoHDL<160 
                AND Total<190
            )
        ) * 0.1  AS count_exames_dentro_inclusos
        FROM D2.ExamesPivotados 
    )

) UNION ALL (
            
    SELECT *, 'fora' AS tipo
    FROM D2.ExamesPivotados
    WHERE NOT (
        LDL<130 
        AND HDL>=40 
        AND VLDL<30 
        AND NaoHDL<160 
        AND Total<190
    )
    ORDER BY RANDOM()
    LIMIT (
        SELECT 
        COUNT(*) FILTER (
            WHERE NOT (
                LDL<130 
                AND HDL>=40 
                AND VLDL<30 
                AND NaoHDL<160 
                AND Total<190
            )
        ) * 0.25 AS count_exames_fora_inclusos
        FROM D2.ExamesPivotados 
    )
)
)

 * postgresql://postgres:***@postgres:5432/postgres
Done.

[]

In [ ]:
Por fim, da amostra selecionada, examinamos separadamente os valores de referência, e obtemos os seguintes resultados:

In [34]:
%%sql
SELECT
    COUNT(*) AS total_geral,
    COUNT(*) FILTER (WHERE tipo = 'dentro') AS total_dentro, 
    COUNT(*) FILTER (WHERE tipo = 'fora') AS total_fora,
    COUNT(*) FILTER (WHERE LDL >= 130) AS ldl_fora,
    COUNT(*) FILTER (WHERE HDL < 40) AS hdl_fora,
    COUNT(*) FILTER (WHERE VLDL >= 30) AS vldl_fora,
    COUNT(*) FILTER (WHERE NaoHDL >= 160) AS naohdl_fora,
    COUNT(*) FILTER (WHERE Total >= 190) AS mgDL_total
FROM amostragem

 * postgresql://postgres:***@postgres:5432/postgres
1 rows affected.

[(36385, 10437, 25948, 13772, 747, 6795, 11156, 23474)]